tr.cut td.filename:before {
	position: absolute;
	display: block;
	width: 50px;
	height: 50px;
	background-color: white;
	opacity: 0.6;
	content: "";
}

tr:hover td.filename:before, tr.selected td.filename:before {
	background-color: inherit;
}

#clipboard_paste {
	margin-left: 3px;
	opacity: 0.65;
}

#clipboard_paste.blink {
	background-color: white;
}


#clipboard_paste.disabled > img {
	opacity: 0.3;
	cursor:default;
}

#notification .files_clipboard_error {
	text-align:left;
	margin-bottom: 0.4em; 
	padding: 0.2em;
}